/* Write your CSS code here */
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-image {
  margin-top: 50px;
  width: 250px;
}

.contact-title {
  color: #551e53;
  font-size: 38px;
  font-weight: 500;
  font-family: 'Roboto';
}
