* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.white-bg {
  background-color: #fff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-body{
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.wave-page-bg {
  border: 5px #551e53 solid;
  border-radius: 10px;

  width: 50vw;
  height: 90vh;
}
